%html
  %head
    = javascript_include_tag 'jquery-1.4.2.min.js'
    = javascript_include_tag 'swfobject.js'
  %body
    #buttons
      #play Play video
      #pause.hide Pause video
    .yt-container
      .hide-yt-logo
      #play-overlay
      #ytapiplayer
        
    %style
      :sass
        html, body
          :margin 0
          :padding 0
          :font-family Lucida Grande, "Lucida Sans Unicode"
          
        .hide
          :display none
          
        .yt-container
          :width 425px
          :height 319px
          :position relative

        #play-overlay
          :width 100%
          :height 100%
          :position absolute
          //:background-image url("/images/pause_screen_m_out.png")
          :z-index 100
          :opacity 0.4
          :background-color black

        .hide-yt-logo
          :width 100%
          :height 100%
          :background transparent
          :position absolute
          :cursor auto
          :z-index 100
          
        #buttons
          div
            :width 425px
            :height 20px
            :background black
            :color white
            :text-align center
            :padding 30px 0
            :font-size 150%
          #play
            :background black url(/images/play.png) no-repeat 80px 25px
          #pause
      
    :javascript

      function onYouTubePlayerReady() {
        ytplayer = document.getElementById("myytplayer");
        ytplayer.loadVideoById("#{@video_id}");
        ytplayer.pauseVideo();
      }
      
      function togglePlay() {
        var ytplayer = document.getElementById("myytplayer");
        if (ytplayer.getPlayerState() == 1) {
          // playing
          ytplayer.pauseVideo();
          $("#play-overlay").show();
          $("#play").show();
          $("#pause").hide();
        } else {
          // pauseed
          $("#play-overlay").hide();
          $("#play").hide();
          $("#pause").show();
          ytplayer.playVideo();
        }
      }

      $(function() {
        $("#buttons").click(function() {
          togglePlay();
        });
        
        var params = { allowScriptAccess: "always" };
        var atts = { id: "myytplayer", style: "position: absolute;", onclick: "alert('ok');" };
        $(function() {
          swfobject.embedSWF("http://www.youtube.com/apiplayer?enablejsapi=1&version=3", 
                             "ytapiplayer", "425", "319", "8", null, null, params, atts);
        })
      });