html, body
  :margin 0
  :padding 0
  :font-family Arial
  //:cursor none
  :font-size 120%
  
html
  :background-color #ECE5DB
  //:background #fff url(/images/background.jpg) repeat
  
.pagination
  :position absolute
  :top 900px
  :font-size 80%
  :border-bottom 2px solid #eee
  span
    :font-size 120%
    :font-weight bold
  
#page-left
  :width 600px
  :height 964px
  //:border 1px dashed black
  :float left
  :position relative
  #previous
    :position absolute
    :left 0
    :top 865px
    :z-index 100
    :height 100px
    :background transparent url(/images/previous.png)
    :width 100px
    :-moz-border-radius 0 25px 0 0
    :-webkit-border-radius 0 25px 0 0
  .pagination
    :right 30px

#page-right
  :width 576px
  :height 964px
  :margin-left 600px
  :position relative
  //:border 1px dashed black
  #next
    :position absolute
    :right 0
    :top 865px
    :z-index 100
    :height 100px
    :background transparent url(/images/next.png)
    :width 100px
  .pagination
    :left 30px
  
#header
  //:border 1px solid red
  :padding 10px
  :background-color #F5F5F5
  :font-size 140%
  :-webkit-box-shadow 2px 2px 3px rgba(135, 139, 144, 0.4)
  :-moz-box-shadow 2px 2px 3px rgba(135, 139, 144, 0.4)
  :box-shadow 2px 2px 3px rgba(135, 139, 144, 0.4)
  :padding-left 30px
  //:font-family georgia
  .icon
    :float left
  .text
    :margin-left 70px
  
#page-left
  #header
    :text-shadow 0 2px #BBD7E6
  
#page-right
  #header
    :color #F5F5F5
  
.contacts.new_index, .albums.new_index, .albums.new_show, .contacts.new_show, .contacts.new_call, .contacts.write
  body
    :font-family Lucida Grande, "Lucida Sans Unicode"
    
  .wrapper
    :padding 20px
    
  .container
    :position relative
    :overflow hidden
    //:border 5px solid red

  .content
    :position relative
    :top 0px
    :left 0px
    .page
      //:border 5px solid yellow
      
.albums.new_show
  .container, .page
    :height 775px
    :border 1px solid #ECE5DB
    
  .subject
    :text-shadow 0 2px #FAFAFA
    :font-size 150%
    :text-align center
    :margin 15px 0 0 0
    
  .page.horizontal
    .image
      :margin-top 150px
    
  .page.vertical
    .image
      :margin-top 70px
      
  #page-right
    .container
      :margin-top 45px
  
  .content
    .image
      :width 510px
      :padding 10px 5px 8px 5px
      :border 1px solid #BFBFBF
      :background-color white
      :-webkit-box-shadow 2px 2px 3px rgba(135, 139, 144, 0.4)
      :-moz-box-shadow 2px 2px 3px rgba(135, 139, 144, 0.4)
      :box-shadow 2px 2px 3px rgba(135, 139, 144, 0.4)
      :margin 20px auto
      :text-align center
  
    .right
      :-webkit-transform rotate(1deg)
      :-moz-transform rotate(1deg)
      :transform rotate(1deg)
  
    .left
      :-webkit-transform rotate(-1deg)
      :-moz-transform rotate(-1deg)
      :transform rotate(-1deg)
  
.albums.new_index
  #header
    :border-bottom 7px solid #e85621
    
  .page, .container
    //:border 1px solid red
    :height 850px
    
  .album.vertical
    .stack
      :background transparent url(/images/hstack.png) no-repeat
      :width 139px
      :height 179px
      :float left
      :margin-left 20px
      .image
        :position relative
        :top 10px
        :left 35px
        :width 90px
        :height 135px
  
  .album.horizontal
    .stack
      :background transparent url(/images/wstack.png) no-repeat
      :width 187px
      :height 144px
      :float left
      .image
        :position relative
        :top 35px
        :left 32px
        :width 137px
        :height 90px
    
  .album
    :padding 10px
    :margin 0 10px 10px 10px
    //:border-bottom 1px solid #dcd5cc
    :height 180px
      
    .subject
      :font-size 130%
      :margin 20px 0 0 200px
      :text-shadow 0 2px #FAFAFA
    .contact
      :margin 10px 0 0 200px
      :font-size 80%
      
.contacts.new_index
  #header
    :border-bottom 7px solid #008dd1
    
  .container, .page
    :height 748px
    
.contacts.new_show    
  a#call, a#write
    :float left
    :margin 0px 10px
    :width 215px
    :text-align center
  
  .container
    :height 770px
    
  .message.reply
    :border 2px solid #eee
    :background-color white
      
  .message
    :border 2px solid #7ab5d1
    :font-size 80%
    :background-color #8ed2f3
    :margin 10px
    :-moz-border-radius 3px
    :-webkit-border-radius 3px
    :padding 20px
    :margin-bottom 20px
    .date
      :float right
      :font-size 80%
    .subject
      :font-size 110%
      :margin-bottom 10px
    .text
      :font-size 80%
    .video
      :margin 20px auto
      :width 425px
      
.contacts.write

  #up
    :height 500px
  
    #buttons
      :padding-top 250px
      
    #indicator
      :padding-top 230px
    
  #down
    
  #container
    :position relative
    
    #imageView
      :border 1px solid black
      :background-color white
      
.contacts.new_call
  #page
    //:border 1px dashed black
    :width 1152px
    :height 964px
  
  #videochat
    :margin 20px 0
    
.contacts.new_index, .albums.new_show, .contacts.new_show, .contacts.write, .contacts.new_call
  .contact
    :padding 10px
    :margin 0 10px 10px 10px
    :background-color #f3f2ef
    :-moz-border-radius 2px
    :-webkit-border-radius 2px
    :-moz-box-shadow 1px 1px 10px -5px rgba(0, 0, 0, 0.5)
    :-webkit-box-shadow 1px 1px 10px -5px rgba(0, 0, 0, 0.5)
    :border 2px solid #D4D5BA
    .notification
      :margin 20px 10px 0 0
      :width 20px
      :height 20px
      :-moz-border-radius 20px
      :-webkit-border-radius 20px
      :background-color #008DD1
      :float right
    .image
      :position relative
      :-moz-box-shadow 1px 1px 5px -5px rgba(0, 0, 0, 0.8)
      :-webkit-box-shadow 1px 1px 5px -5px rgba(0, 0, 0, 0.8)
      .overlay
        :background-image transparent url(/images/contact-overlay.png)
        :position absolute
        :width 70px
        :height 70px
      :float left
      //:border 1px solid #76838B
      :width 70px
      :height 70px
    .name
      :margin 10px 0 0 90px
      :font-size 160%
      :text-shadow 0 2px #FAFAFA
body
  :font-family "Angelina", "Dakota Medium"
  
a
  :text-decoration none
  
.hide
  :display none
  
.lightButton
  :background-color #E0ECF0
  :border-color #BBBBBB
  :color black
  :text-shadow 0 1px #FAFAFA
  :-moz-border-radius 3px 3px 3px 3px
  :-moz-box-shadow 0 1px 2px #DDDDDD
  :background-image url("http://pinterest.com/home/images/buttonGradient20.png") 
  :background-position 0 0
  :background-repeat repeat
  :border-style solid
  :border-width 1px
  :font-size 110%
  //:font-weight bold
  :padding 0.3em 0.825em
  :text-decoration none
  :vertical-align top
  :font-family "helvetica neue", arial, sans-serif
    
#page
  :position relative
  :width 576px
    
#page-break
  :position relative
  :width 100%
  :height 2px
  :background-color black
  :top 984px
  :left 0
  
.container
  :position relative
  :overflow hidden
  
.inside-container
  :position relative
  :top 0px
  :left 0px
  
div.page-left, div.page-right
  :border 1px solid red
  
#previous
  :position absolute
  :top 883px
  :left 0px
  :z-index 100

#next
  :position absolute
  :top 1766px
  :right 0px
  :z-index 100
  
#doc3
  :margin 0

.clear:after
  :clear both
  :content "."
  :display block
  :height 0
  :visibility hidden
  
.space
  :height 10px
    
#right, #left
  :height 984px
  :width 576px
  :position relative
  :overflow hidden
  :border-style solid 
  :border-color black
  :border-width 1px 0 1px 0
  .content
    :padding 20px

.button
  :position absolute
  :top 883px
  
#left
  .button
    :left 0px
    
#right
  .button
    :right 0px
    
#contact
  :background transparent url(/images/interface/contact-bg.png) no-repeat
  :height 90px
  // :cursor pointer
  // :cursor none
  .name
    :float left
    :margin 10px 0 0 20px
    :font-size 230%

  .picture
    :float left
    :margin 7px 0 0 20px
    
    
div.stack
  :background transparent url(/images/wstack.png) no-repeat
  :width 187px
  :height 144px
  // :cursor pointer
  // :cursor none
  .contact
    :float left
    :width 50px
    :height 50px
    :position relative
    :top -90px
    :left 0
  
.albums.image
  .image
    :margin 40px auto
    :width 1000px
    :padding 10px 10px 20px 10px
    :border 1px solid #BFBFBF
    :background-color white
    :-webkit-box-shadow 2px 2px 3px rgba(135, 139, 144, 0.4)
    :-moz-box-shadow 2px 2px 3px rgba(135, 139, 144, 0.4)
    :box-shadow 2px 2px 3px rgba(135, 139, 144, 0.4)
      
.albums.index
  
  .page-left
    :height 760px
    :margin-bottom 120px
    
  .page-right
    :height 770px
    :margin-bottom 120px
  
  .container
    :height 1765px
    //:border 1px solid red
    
  div.title
    :font-size 250%
    :margin 10px 0 30px 0
    
  table.albums
    td
      //:cursor pointer
      //:cursor none
      
    td.stack
      :padding 0 30px
      
    td.title
      :font-size 160%
      :padding-bottom 30px
      :text-align center
          
  #right
    table.albums
      :margin-top 80px
      
.albums.show    
  .page-left
    :height 770px
    :margin-bottom 120px
    
  .page-right
    :height 770px
    :margin-bottom 120px
  
  .container
    :height 1770px
    //:border 1px solid red
    
  .image
    :padding 10px 10px 20px 10px
    :border 1px solid #BFBFBF
    :background-color white
    :-webkit-box-shadow 2px 2px 3px rgba(135, 139, 144, 0.4)
    :-moz-box-shadow 2px 2px 3px rgba(135, 139, 144, 0.4)
    :box-shadow 2px 2px 3px rgba(135, 139, 144, 0.4)
    :margin 20px 0
    :text-align center
    
  .right
    :-webkit-transform rotate(1deg)
    :-moz-transform rotate(1deg)
    :transform rotate(1deg)
    
  .left
    :-webkit-transform rotate(-2deg)
    :-moz-transform rotate(-2deg)
    :transform rotate(-2deg)
    
.contacts.index
  .page-left
    :height 760px
    :margin-bottom 120px
    
  .page-right
    :height 770px
    :margin-bottom 120px
  
  .container
    :height 1765px
    :border 1px solid red
    
  .title
    :font-size 250%
    :margin 10px 0 30px 0
    
  .contact
    :height 90px
    :width 310px
    // :cursor pointer
    // :cursor none
    :background transparent url(/images/interface/contact-bg.png) no-repeat
    .picture
      :float left
      :margin 7px 0 0 20px
    .name
      :float left
      :margin 15px 0 0 10px
      :font-size 170%
        
  .contact.online
        
.contacts.show
  .contact
    :background transparent url(/images/interface/contact-bg.png) no-repeat
    :height 90px
    .name
      :float left
      :margin 20px 0 0 10px
      :font-size 230%
      
    .picture
      :float left
      :margin 7px 0 0 20px
      
  .write, .phone
    :float left
    
  .write
    :margin-left 8px
      
  .reply, .message
    :padding 20px
    :margin 10px 0
    :font-family "Helvetica Neue", Arial
    :-moz-border-radius 10px
    :-webkit-border-radius 10px
    .date
      :float right
      :margin 0 0 10px 10px
    
  .reply
    :background-color white
    
  .message
    :background-color #9bddf6
    .text
      p.subject
        :font-size 150%
        :margin-bottom 10px
      p
        :font-size 130%
      
  #images
    :width 400px
    :margin 20px auto
    
    .previous
      :float left
    .next
      :float right
      
  #write
    a
      :font-size 120%
      :padding 30px
      :position absolute
      :top 745px
      :right 20px
      :background-color #00a93e
      :border 1px solid #87cd96
      :display block
  
.messages.new
  #loading
    :position relative
    :top 300px
    :left 240px
  
  #buttons
    :position relative
    :top 400px
    :left 130px
    
  .send, .erase
    :float left
  
  .erase
    :margin-left 10px
    
  form
  
  #container
    :position relative
    :margin-top 492px
    
  #imageView
    :border 1px solid black
    :background-color white
    
  #message_submit
    :width 400px
    :height 40px
    :margin-top 10px
    :background-color #00a93e
    :border 1px solid #87cd96
    :font-size 140%
    
.manifest.store
  :background-color #ECE5DB
  .content
    :text-align center
    .title
      :font-size 300%
      :margin 10px 0
    :margin 200px auto 0 auto
    :background-color #F5F5F5
    :padding 20px
    :width 500px
    :-moz-border-radius 10px
    :-webkit-border-radius 10px
    :border 3px solid #D4D5BA