html, body
  :margin 0
  :font-family Arial

html
  :background-color #dddcdc
  
a
  :text-decoration none
  :color white

.clear:after
  :clear both
  :content "."
  :display block
  :height 0
  :visibility hidden
  
.space
  :height 10px

#refresh
  a
    :z-index 10
    :background-color white
    :font-size 200%
    :position absolute
    :left 0
    :bottom 0
    :padding 10px
    :-moz-border-radius 0 5px 0 0
    :-webkit-border-radius 0 5px 0 0
    
#right, #left
  :background-color #2c2a2d
  :min-height 700px
  :position relative

.button
  :color white
  :font-size 120%
  :padding 10px
  :position absolute
  :top 565px

#right
  .button
    :right 0px

.albums
  #right, #left
    :background-color #2c2a2d
  
      
.albums.index
  .album
    :margin 0 auto
    :width 350px
    :padding 10px 0
    .photo
      :overflow hidden
    .title
      :background-color white
      a
        :color black
        :display block
        :padding 10px
      .contact_image
        :float left
      .info
        :margin-left 40px
        :margin-top 7px
      
.albums.show
  .title
    :padding 10px
    
  .image
    :margin 0 auto
    :width 350px
    :padding 10px 0
    :height 250px
    :overflow hidden
    
.contacts.index
  #right, #left
    :background-color #00aa3e
    
  .contact
    :margin 0 auto
    :width 350px
    :padding 10px
    :background-color #ededed
    .photo
      :float left
    .name
      :margin-left 85px
      :font-size 170%
      a
        :color black
        
.contacts.show
  #right, #left
    :background-color white
    
  #user
    :padding 10px
    :margin 0 auto
    :width 380px
    .image
      :float left
    .name
      :margin-left 130px
      :font-size 180%
      
  #images
    :width 400px
    :margin 20px auto
    
    .previous
      :float left
    .next
      :float right
      
  #write
    a
      :font-size 120%
      :padding 30px
      :position absolute
      :top 565px
      :right 20px
      :background-color #00a93e
      :border 1px solid #87cd96
      :display block