html, body
  :margin 0
  :font-family Arial
  :overflow hidden

html
  //:background-color #2c2a2d
  :background #fff url(/images/background.jpg) repeat

body
  :font-family "Handwriting - Dakota", "Dakota Regular"
  
a
  :text-decoration none
  :color white

.clear:after
  :clear both
  :content "."
  :display block
  :height 0
  :visibility hidden
  
.space
  :height 10px

#refresh
  a
    :z-index 10
    :background-color white
    :font-size 200%
    :position absolute
    :left 0
    :bottom 0
    :padding 10px
    :-moz-border-radius 0 5px 0 0
    :-webkit-border-radius 0 5px 0 0
    
#right, #left
  :height 840px
  :width 472px
  :position relative
  //:border 1px dashed black
  :overflow hidden
  :margin-top 20px
  :padding 20px

.button
  :color white
  :font-size 120%
  :position absolute
  :top 725px

#right
  .button
    :right 0px

.albums
  #right, #left
      
.albums.index
  #right, #left
    
  
  .albums
    :font-size 250%
    :margin 10px 0 30px 0
    
  .title
    :font-size 160%
    
  table
    td
      :width 250px
    td.stack
      :padding-top 40px
      
  #right
    table
      :margin-top 80px
    
  .album
    :margin 0 auto
    :width 440px
    :padding 10px 0
    .photo
      :overflow hidden
    .title
      a
        :color black
        :display block
        :padding 10px
      .contact_image
        :float left
      .info
        //:margin-left 40px
        :margin-top 7px
      
.albums.show
  .title
    :padding 10px
    
  .contact
    :background transparent url(/images/interface/contact-bg.png) no-repeat
    :height 90px
    .name
      :float left
      :margin 20px 0 0 10px
      :font-size 230%
      :font-family "Handwriting - Dakota"
      
    .picture
      :float left
      :margin 7px 0 0 20px
    
  .image
    :padding 10px 10px 20px 10px
    :border 1px solid #BFBFBF
    :background-color white
    :-webkit-box-shadow 2px 2px 3px rgba(135, 139, 144, 0.4)
    :-moz-box-shadow 2px 2px 3px rgba(135, 139, 144, 0.4)
    :box-shadow 2px 2px 3px rgba(135, 139, 144, 0.4)
    :margin 20px 0
    
  .right
    :-webkit-transform rotate(1deg)
    :-moz-transform rotate(1deg)
    :transform rotate(1deg)
    
  .left
    :-webkit-transform rotate(-2deg)
    :-moz-transform rotate(-2deg)
    :transform rotate(-2deg)
    
.contacts.index
  #right, #left
  
  .contacts
    :font-size 250%
    :margin 10px 0 30px 0
    
  .contact
    :height 90px
    :width 310px
    :cursor pointer
    :background transparent url(/images/interface/contact-bg.png) no-repeat
    .picture
      :float left
      :margin 7px 0 0 20px
    .name
      :float left
      :margin 15px 0 0 10px
      :font-size 170%
        
  .contact.online
        
.contacts.show
  #right, #left
    :background-color white
    
  #user
    :padding 10px
    :margin 0 auto
    :width 380px
    .image
      :float left
    .name
      :margin-left 130px
      :font-size 180%
      
  .message
    :background-color #9bddf6
    :padding 20px
    :margin 10px
    :-moz-border-radius 10px
    :-webkit-border-radius 10px
    .date
      :float right
      :margin 0 0 10px 10px
    .text
      :font-size 130%
      
    
  #messages
    :height 730px
    :overflow auto
      
  #images
    :width 400px
    :margin 20px auto
    
    .previous
      :float left
    .next
      :float right
      
  #write
    a
      :font-size 120%
      :padding 30px
      :position absolute
      :top 745px
      :right 20px
      :background-color #00a93e
      :border 1px solid #87cd96
      :display block
  
.messages.new
  form
    :width 400px
    :margin 50px auto
  #message_text
    :width 400px
    :height 700px
    :font-size 170%
    :padding 30px
  #message_submit
    :width 400px
    :height 40px
    :margin-top 10px
    :background-color #00a93e
    :border 1px solid #87cd96
    :font-size 140%