html, body {
  margin: 0;
  font-family: Arial; }

html {
  background: #fff url(/images/background.jpg) repeat; }

body {
  font-family: "Handwriting - Dakota", "Dakota Medium";
  margin: 0; }

a {
  text-decoration: none;
  color: white; }

#doc3 {
  margin: 0; }

.clear:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden; }

.space {
  height: 10px; }

#right, #left {
  height: 954px;
  width: 576px;
  position: relative;
  overflow: hidden;
  border: 1px solid black; }
  #right .content, #left .content {
    padding: 20px; }

#left .button {
  position: absolute;
  top: 883px;
  left: 0px; }

#right .button {
  position: absolute;
  top: 883px;
  right: 0px; }

#contact {
  background: transparent url(/images/interface/contact-bg.png) no-repeat;
  height: 90px;
  cursor: none; }
  #contact .name {
    float: left;
    margin: 20px 0 0 10px;
    font-size: 230%; }
  #contact .picture {
    float: left;
    margin: 7px 0 0 20px; }

div.stack {
  background: transparent url(/images/wstack.png) no-repeat;
  width: 187px;
  height: 144px;
  cursor: none; }
  div.stack .contact {
    float: left;
    width: 50px;
    height: 50px;
    position: relative;
    top: -90px;
    left: 0; }
  div.stack .image {
    position: relative;
    top: 35px;
    left: 32px;
    width: 137px;
    height: 90px; }

.albums.image .image {
  margin: 40px auto;
  width: 1000px;
  padding: 10px 10px 20px 10px;
  border: 1px solid #BFBFBF;
  background-color: white;
  -webkit-box-shadow: 2px 2px 3px rgba(135, 139, 144, 0.4);
  -moz-box-shadow: 2px 2px 3px rgba(135, 139, 144, 0.4);
  box-shadow: 2px 2px 3px rgba(135, 139, 144, 0.4); }

.albums.index div.title {
  font-size: 250%;
  margin: 10px 0 30px 0; }
.albums.index table.albums td {
  cursor: none; }
.albums.index table.albums td.stack {
  padding: 0 30px; }
.albums.index table.albums td.title {
  font-size: 160%;
  padding-bottom: 30px;
  text-align: center; }
.albums.index #right table.albums {
  margin-top: 80px; }

.albums.show .title {
  padding: 10px; }
.albums.show .image {
  padding: 10px 10px 20px 10px;
  border: 1px solid #BFBFBF;
  background-color: white;
  -webkit-box-shadow: 2px 2px 3px rgba(135, 139, 144, 0.4);
  -moz-box-shadow: 2px 2px 3px rgba(135, 139, 144, 0.4);
  box-shadow: 2px 2px 3px rgba(135, 139, 144, 0.4);
  margin: 20px 0;
  text-align: center; }
.albums.show .right {
  -webkit-transform: rotate(1deg);
  -moz-transform: rotate(1deg);
  transform: rotate(1deg); }
.albums.show .left {
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  transform: rotate(-2deg); }

.contacts.index .title {
  font-size: 250%;
  margin: 10px 0 30px 0; }
.contacts.index .contact {
  height: 90px;
  width: 310px;
  cursor: none;
  background: transparent url(/images/interface/contact-bg.png) no-repeat; }
  .contacts.index .contact .picture {
    float: left;
    margin: 7px 0 0 20px; }
  .contacts.index .contact .name {
    float: left;
    margin: 15px 0 0 10px;
    font-size: 170%; }

.contacts.show #page {
  width: 576px;
  border: 1px solid black; }
  .contacts.show #page .content {
    margin: 20px; }
.contacts.show .contact {
  background: transparent url(/images/interface/contact-bg.png) no-repeat;
  height: 90px; }
  .contacts.show .contact .name {
    float: left;
    margin: 20px 0 0 10px;
    font-size: 230%; }
  .contacts.show .contact .picture {
    float: left;
    margin: 7px 0 0 20px; }
.contacts.show .write, .contacts.show .phone {
  float: left; }
.contacts.show .write {
  margin-left: 8px; }
.contacts.show .reply, .contacts.show .message {
  padding: 20px;
  margin: 10px 0;
  font-family: "Helvetica Neue", Arial;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; }
  .contacts.show .reply .date, .contacts.show .message .date {
    float: right;
    margin: 0 0 10px 10px; }
.contacts.show .reply {
  background-color: white; }
.contacts.show .message {
  background-color: #9bddf6; }
  .contacts.show .message .text p.subject {
    font-size: 150%;
    margin-bottom: 10px; }
  .contacts.show .message .text p {
    font-size: 130%; }
.contacts.show #images {
  width: 400px;
  margin: 20px auto; }
  .contacts.show #images .previous {
    float: left; }
  .contacts.show #images .next {
    float: right; }
.contacts.show #write a {
  font-size: 120%;
  padding: 30px;
  position: absolute;
  top: 745px;
  right: 20px;
  background-color: #00a93e;
  border: 1px solid #87cd96;
  display: block; }

.messages.new .send, .messages.new .erase {
  float: left; }
.messages.new .erase {
  margin-left: 10px; }
.messages.new #container {
  position: relative; }
.messages.new #imageView {
  border: 1px solid black;
  background-color: white; }
.messages.new #message_submit {
  width: 400px;
  height: 40px;
  margin-top: 10px;
  background-color: #00a93e;
  border: 1px solid #87cd96;
  font-size: 140%; }
