html, body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  font-size: 120%; }

html {
  background-color: #ECE5DB; }

.pagination {
  position: absolute;
  top: 900px;
  font-size: 80%;
  border-bottom: 2px solid #eee; }
  .pagination span {
    font-size: 120%;
    font-weight: bold; }

#page-left {
  width: 600px;
  height: 964px;
  background: transparent url(/images/page-left-bg.png) top right repeat-y;
  float: left;
  position: relative; }
  #page-left #previous {
    position: absolute;
    left: 0;
    top: 865px;
    z-index: 100;
    height: 100px;
    background: transparent url(/images/previous.png);
    width: 100px;
    -moz-border-radius: 0 25px 0 0;
    -webkit-border-radius: 0 25px 0 0; }
  #page-left .pagination {
    right: 30px; }

#page-right {
  width: 576px;
  height: 964px;
  margin-left: 600px;
  position: relative;
  background: transparent url(/images/page-right-bg.png) top left repeat-y; }
  #page-right #next {
    position: absolute;
    right: 0;
    top: 865px;
    z-index: 100;
    height: 100px;
    background: transparent url(/images/next.png);
    width: 100px; }
  #page-right .pagination {
    left: 30px; }

#header {
  padding: 10px;
  background-color: #F5F5F5;
  font-size: 140%;
  -webkit-box-shadow: 2px 2px 3px rgba(135, 139, 144, 0.4);
  -moz-box-shadow: 2px 2px 3px rgba(135, 139, 144, 0.4);
  box-shadow: 2px 2px 3px rgba(135, 139, 144, 0.4);
  padding-left: 30px; }
  #header .icon {
    float: left; }
  #header .text {
    margin-left: 70px; }

#page-left #header {
  text-shadow: 0 2px #BBD7E6; }

#page-right #header {
  color: #F5F5F5; }

.contacts.new_index body, .albums.new_index body, .albums.new_show body, .contacts.new_show body, .contacts.new_call body, .contacts.write body {
  font-family: Lucida Grande, "Lucida Sans Unicode"; }
.contacts.new_index .wrapper, .albums.new_index .wrapper, .albums.new_show .wrapper, .contacts.new_show .wrapper, .contacts.new_call .wrapper, .contacts.write .wrapper {
  padding: 20px; }
.contacts.new_index .container, .albums.new_index .container, .albums.new_show .container, .contacts.new_show .container, .contacts.new_call .container, .contacts.write .container {
  position: relative;
  overflow: hidden; }
.contacts.new_index .content, .albums.new_index .content, .albums.new_show .content, .contacts.new_show .content, .contacts.new_call .content, .contacts.write .content {
  position: relative;
  top: 0px;
  left: 0px; }

.albums.new_show .container, .albums.new_show .page {
  height: 775px;
  border: 1px solid #ECE5DB; }
.albums.new_show .subject {
  text-shadow: 0 2px #FAFAFA;
  font-size: 150%;
  text-align: center;
  margin: 15px 0 0 0; }
.albums.new_show .page.horizontal .image {
  margin-top: 150px; }
.albums.new_show .page.vertical .image {
  margin-top: 70px; }
.albums.new_show #page-right .container {
  margin-top: 45px; }
.albums.new_show .content .image {
  width: 510px;
  padding: 10px 5px 8px 5px;
  border: 1px solid #BFBFBF;
  background-color: white;
  -webkit-box-shadow: 2px 2px 3px rgba(135, 139, 144, 0.4);
  -moz-box-shadow: 2px 2px 3px rgba(135, 139, 144, 0.4);
  box-shadow: 2px 2px 3px rgba(135, 139, 144, 0.4);
  margin: 20px auto;
  text-align: center; }
.albums.new_show .content .right {
  -webkit-transform: rotate(1deg);
  -moz-transform: rotate(1deg);
  transform: rotate(1deg); }
.albums.new_show .content .left {
  -webkit-transform: rotate(-1deg);
  -moz-transform: rotate(-1deg);
  transform: rotate(-1deg); }

.albums.new_index #header {
  border-bottom: 7px solid #e85621; }
.albums.new_index .page, .albums.new_index .container {
  height: 850px; }

.albums.new_index .album.vertical .stack, .contacts.new_show .album.vertical .stack {
  background: transparent url(/images/hstack.png) no-repeat;
  width: 139px;
  height: 179px;
  float: left;
  margin-left: 20px; }
  .albums.new_index .album.vertical .stack .image, .contacts.new_show .album.vertical .stack .image {
    position: relative;
    top: 10px;
    left: 35px;
    width: 90px;
    height: 135px; }
.albums.new_index .album.horizontal .stack, .contacts.new_show .album.horizontal .stack {
  background: transparent url(/images/wstack.png) no-repeat;
  width: 187px;
  height: 144px;
  float: left; }
  .albums.new_index .album.horizontal .stack .image, .contacts.new_show .album.horizontal .stack .image {
    position: relative;
    top: 35px;
    left: 32px;
    width: 137px;
    height: 90px; }
.albums.new_index .album, .contacts.new_show .album {
  padding: 10px;
  margin: 0 10px 10px 10px;
  height: 180px; }
  .albums.new_index .album .subject, .contacts.new_show .album .subject {
    font-size: 130%;
    margin: 20px 0 0 200px;
    text-shadow: 0 2px #FAFAFA; }
  .albums.new_index .album .contact, .contacts.new_show .album .contact {
    margin: 10px 0 0 200px;
    font-size: 80%; }

.contacts.new_index #header {
  border-bottom: 7px solid #008dd1; }
.contacts.new_index .container, .contacts.new_index .page {
  height: 748px; }

.contacts.new_show #contact {
  border: 3px solid #359acd;
  margin: 0 10px 10px 10px;
  padding: 10px;
  background-color: white; }
  .contacts.new_show #contact .image {
    float: left; }
  .contacts.new_show #contact .name {
    font-size: 200%;
    margin: 10px 0 0 120px; }
.contacts.new_show a#call, .contacts.new_show a#write {
  float: left;
  width: 265px;
  text-align: center;
  height: 85px;
  margin-left: 10px; }
.contacts.new_show a#write {
  background: transparent url(/images/write.png) no-repeat; }
.contacts.new_show a#call {
  background: transparent url(/images/call.png) no-repeat; }
.contacts.new_show .container {
  height: 770px; }
.contacts.new_show .message.reply {
  border: 2px solid #eee;
  background-color: white; }
.contacts.new_show .message {
  border: 2px solid #7ab5d1;
  font-size: 80%;
  background-color: #8ed2f3;
  margin: 10px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 20px;
  margin-bottom: 20px; }
  .contacts.new_show .message .date {
    float: right;
    font-size: 80%; }
  .contacts.new_show .message .subject {
    font-size: 110%;
    margin-bottom: 10px; }
  .contacts.new_show .message .text {
    font-size: 80%; }
  .contacts.new_show .message .video {
    margin: 20px auto;
    width: 425px; }

.contacts.write #instructions {
  margin: 20px 30px;
  font-size: 150%; }
.contacts.write #up {
  position: relative;
  height: 500px; }
  .contacts.write #up #buttons {
    position: absolute;
    top: 200px; }
    .contacts.write #up #buttons div {
      float: left;
      margin-left: 10px; }
  .contacts.write #up #instructions {
    position: absolute;
    top: 420px;
    font-size: 170%; }
  .contacts.write #up #indicator {
    padding-top: 230px; }
.contacts.write #container {
  position: relative; }
  .contacts.write #container #imageView {
    border: 1px solid black;
    background-color: white; }

.contacts.new_call #page {
  width: 1152px;
  height: 964px; }
.contacts.new_call #hangup {
  margin: 30px 0 0 60px; }

.contacts.new_index .contact, .albums.new_show .contact, .contacts.new_show .contact, .contacts.write .contact, .contacts.new_call .contact {
  padding: 5px;
  margin: 0 10px 15px 10px;
  height: 109px;
  background: transparent url(/images/contact-bg.png) no-repeat;
  width: 500px; }
  .contacts.new_index .contact .notification, .albums.new_show .contact .notification, .contacts.new_show .contact .notification, .contacts.write .contact .notification, .contacts.new_call .contact .notification {
    margin: 20px 10px 0 0;
    width: 20px;
    height: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    background-color: #008DD1;
    float: right; }
  .contacts.new_index .contact .image, .albums.new_show .contact .image, .contacts.new_show .contact .image, .contacts.write .contact .image, .contacts.new_call .contact .image {
    position: relative;
    -moz-box-shadow: 1px 1px 5px -5px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 1px 1px 5px -5px rgba(0, 0, 0, 0.8);
    float: left;
    width: 70px;
    height: 70px; }
    .contacts.new_index .contact .image .overlay, .albums.new_show .contact .image .overlay, .contacts.new_show .contact .image .overlay, .contacts.write .contact .image .overlay, .contacts.new_call .contact .image .overlay {
      background-image: transparent url(/images/contact-overlay.png);
      position: absolute;
      width: 70px;
      height: 70px; }
  .contacts.new_index .contact .name, .albums.new_show .contact .name, .contacts.new_show .contact .name, .contacts.write .contact .name, .contacts.new_call .contact .name {
    margin: 25px 0 0 120px;
    font-size: 140%; }
.contacts.new_index .contact.notification, .albums.new_show .contact.notification, .contacts.new_show .contact.notification, .contacts.write .contact.notification, .contacts.new_call .contact.notification {
  background: transparent url(/images/contact-notification-bg.png) no-repeat; }

body {
  font-family: "Angelina", "Dakota Medium"; }

a {
  text-decoration: none; }

.hide {
  display: none; }

.lightButton {
  background-color: #E0ECF0;
  border-color: #BBBBBB;
  color: black;
  text-shadow: 0 1px #FAFAFA;
  -moz-border-radius: 10px;
  -moz-box-shadow: 0 1px 2px #DDDDDD;
  background-image: url("http://pinterest.com/home/images/buttonGradient20.png");
  background-position: 0 0;
  background-repeat: repeat;
  border-style: solid;
  border-width: 1px;
  font-size: 110%;
  padding: 0.3em 0.825em;
  text-decoration: none;
  vertical-align: top;
  font-family: "helvetica neue", arial, sans-serif; }

#page {
  position: relative;
  width: 576px; }

#page-break {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: black;
  top: 984px;
  left: 0; }

.container {
  position: relative;
  overflow: hidden; }

.inside-container {
  position: relative;
  top: 0px;
  left: 0px; }

div.page-left, div.page-right {
  border: 1px solid red; }

#previous {
  position: absolute;
  top: 883px;
  left: 0px;
  z-index: 100; }

#next {
  position: absolute;
  top: 1766px;
  right: 0px;
  z-index: 100; }

#doc3 {
  margin: 0; }

.clear:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden; }

.space {
  height: 10px; }

#right, #left {
  height: 984px;
  width: 576px;
  position: relative;
  overflow: hidden;
  border-style: solid;
  border-color: black;
  border-width: 1px 0 1px 0; }
  #right .content, #left .content {
    padding: 20px; }

.button {
  position: absolute;
  top: 883px; }

#left .button {
  left: 0px; }

#right .button {
  right: 0px; }

div.stack {
  background: transparent url(/images/wstack.png) no-repeat;
  width: 187px;
  height: 144px; }
  div.stack .contact {
    float: left;
    width: 50px;
    height: 50px;
    position: relative;
    top: -90px;
    left: 0; }

.albums.image .image {
  margin: 40px auto;
  width: 1000px;
  padding: 10px 10px 20px 10px;
  border: 1px solid #BFBFBF;
  background-color: white;
  -webkit-box-shadow: 2px 2px 3px rgba(135, 139, 144, 0.4);
  -moz-box-shadow: 2px 2px 3px rgba(135, 139, 144, 0.4);
  box-shadow: 2px 2px 3px rgba(135, 139, 144, 0.4); }

.albums.index .page-left {
  height: 760px;
  margin-bottom: 120px; }
.albums.index .page-right {
  height: 770px;
  margin-bottom: 120px; }
.albums.index .container {
  height: 1765px; }
.albums.index div.title {
  font-size: 250%;
  margin: 10px 0 30px 0; }
.albums.index table.albums td.stack {
  padding: 0 30px; }
.albums.index table.albums td.title {
  font-size: 160%;
  padding-bottom: 30px;
  text-align: center; }
.albums.index #right table.albums {
  margin-top: 80px; }

.albums.show .page-left {
  height: 770px;
  margin-bottom: 120px; }
.albums.show .page-right {
  height: 770px;
  margin-bottom: 120px; }
.albums.show .container {
  height: 1770px; }
.albums.show .image {
  padding: 10px 10px 20px 10px;
  border: 1px solid #BFBFBF;
  background-color: white;
  -webkit-box-shadow: 2px 2px 3px rgba(135, 139, 144, 0.4);
  -moz-box-shadow: 2px 2px 3px rgba(135, 139, 144, 0.4);
  box-shadow: 2px 2px 3px rgba(135, 139, 144, 0.4);
  margin: 20px 0;
  text-align: center; }
.albums.show .right {
  -webkit-transform: rotate(1deg);
  -moz-transform: rotate(1deg);
  transform: rotate(1deg); }
.albums.show .left {
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  transform: rotate(-2deg); }

.contacts.index .page-left {
  height: 760px;
  margin-bottom: 120px; }
.contacts.index .page-right {
  height: 770px;
  margin-bottom: 120px; }
.contacts.index .container {
  height: 1765px;
  border: 1px solid red; }
.contacts.index .title {
  font-size: 250%;
  margin: 10px 0 30px 0; }
.contacts.index .contact {
  height: 90px;
  width: 310px;
  background: transparent url(/images/interface/contact-bg.png) no-repeat; }
  .contacts.index .contact .picture {
    float: left;
    margin: 7px 0 0 20px; }
  .contacts.index .contact .name {
    float: left;
    margin: 15px 0 0 10px;
    font-size: 170%; }

.contacts.show .contact {
  background: transparent url(/images/interface/contact-bg.png) no-repeat;
  height: 90px; }
  .contacts.show .contact .name {
    float: left;
    margin: 20px 0 0 10px;
    font-size: 230%; }
  .contacts.show .contact .picture {
    float: left;
    margin: 7px 0 0 20px; }
.contacts.show .write, .contacts.show .phone {
  float: left; }
.contacts.show .write {
  margin-left: 8px; }
.contacts.show .reply, .contacts.show .message {
  padding: 20px;
  margin: 10px 0;
  font-family: "Helvetica Neue", Arial;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; }
  .contacts.show .reply .date, .contacts.show .message .date {
    float: right;
    margin: 0 0 10px 10px; }
.contacts.show .reply {
  background-color: white; }
.contacts.show .message {
  background-color: #9bddf6; }
  .contacts.show .message .text p.subject {
    font-size: 150%;
    margin-bottom: 10px; }
  .contacts.show .message .text p {
    font-size: 130%; }
.contacts.show #images {
  width: 400px;
  margin: 20px auto; }
  .contacts.show #images .previous {
    float: left; }
  .contacts.show #images .next {
    float: right; }
.contacts.show #write a {
  font-size: 120%;
  padding: 30px;
  position: absolute;
  top: 745px;
  right: 20px;
  background-color: #00a93e;
  border: 1px solid #87cd96;
  display: block; }

.messages.new #loading {
  position: relative;
  top: 300px;
  left: 240px; }
.messages.new #buttons {
  position: relative;
  top: 400px;
  left: 130px; }
.messages.new .send, .messages.new .erase {
  float: left; }
.messages.new .erase {
  margin-left: 10px; }
.messages.new #container {
  position: relative;
  margin-top: 492px; }
.messages.new #imageView {
  border: 1px solid black;
  background-color: white; }
.messages.new #message_submit {
  width: 400px;
  height: 40px;
  margin-top: 10px;
  background-color: #00a93e;
  border: 1px solid #87cd96;
  font-size: 140%; }

.manifest.store {
  background-color: #ECE5DB; }
  .manifest.store .content {
    text-align: center;
    margin: 200px auto 0 auto;
    background-color: #F5F5F5;
    padding: 20px;
    width: 500px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 3px solid #D4D5BA; }
    .manifest.store .content .title {
      font-size: 300%;
      margin: 10px 0; }
