.content
  :javascript
  
  .title FamilyFLIP
  
  <a href="#" onclick="createStore()" class="lightButton">Launch</a>
  <a href="#" onclick="removeStore()" class="lightButton">Restart</a>  
  .image.hide= image_tag('ajax-loader-store.gif')