.contact{:onclick => "go('#{new_show_contact_path(contact)}')", :class => contact.notification? ? 'notification' : nil}
  / - if contact.notification?
  /   .notification
  .image
    //.overlay= image_tag("contact-overlay.png")
    = image_tag(contact.image_path(:normal))
  .name= contact.name
  .clear