.yui-g
  .yui-u.first
    #left
      - @contacts[0..4].each do |contact|
        = render contact
        
      .button
        = link_to image_tag('previous.png')

  .yui-u
    #right
      - @contacts[4..8].each do |contact|
        = render contact
    
      .button
        = link_to image_tag('next.png')
      
      .clear
            
  