#left
  .content
    .title MY CONTACTS
    
    - unless @contacts_in_groups.first.nil?
      - @contacts_in_groups.first.each do |contact|
        = render contact
        .space
      
      - if @contacts.previous_page
        .button
          = link_to image_tag('previous.png'), paged_contacts_url(@contacts.previous_page)

#right
  .content
    - unless @contacts_in_groups.second.nil?
      - @contacts_in_groups.second.each do |contact|
        = render contact
        .space

      - if @contacts.next_page
        .button
          = link_to image_tag('next.png'), paged_contacts_url(@contacts.next_page)
  
    .clear