#page
  #contact
    = render 'contacts/new_contact', :contact => @contact
  
  #videochat
    :plain
      <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="1152" height="700">
        <param name="movie" value="/videochat/user1.swf" />
        <object type="application/x-shockwave-flash" data="/videochat/user1.swf" width="1152" height="700">
      </object>