.album
  .photo
    = link_to image_tag(album.preview_url, :width => '220px'), album
  .title
    - link_to album do
      / .contact_image= image_tag album.contact.image_path, :width => '30'
      .info
        / = album.contact.name
        = album.title
        / = album.date.strftime("%B %Y")
    .clear