.album{:onclick => "go('#{new_show_album_path(album)}')", :class => album.image.orientation.to_s}
  .stack
    .image{:style => "background: transparent url(#{album.image.url(:stack)}) no-repeat"}
  .subject
    = album.subject
  .contact
    = album.contact
  .clear