.yui-g
  .yui-u.first
    #left
      - unless @albums_in_groups.first.nil?
        - @albums_in_groups.first.each do |album|
          = render album
      
        - if @albums.previous_page
          .button
            = link_to image_tag('previous.png'), paged_albums_url(@albums.previous_page)

  .yui-u
    #right
      - unless @albums_in_groups.second.nil?
        - @albums_in_groups.second.each do |album|
          = render album
    
        - if @albums.next_page
          .button
            = link_to image_tag('next.png'), paged_albums_url(@albums.next_page)
      
        .clear