<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%=h @device.name %> sent you a message</h1>
    <p>You reply by email (just as usual !)</p>
    <p>
      <img src="<%= @message.image.url %>">
    </p>
    <p>Thanks ! - PixShare team</p>
  </body>
</html>